.counterSettings {
    border-radius: 5px;
    border: 2px solid #8bddf9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.settingsWrapper {
    border-radius: 5px;
    border: 2px solid #8bddf9;
    padding: 10px;
    margin-bottom: 10px;
}
.buttonWrapper {
    display: flex;
    justify-content: space-around;
    border: 2px solid #8bddf9;
    padding: 15px 10px;
    border-radius: 5px;
}